<section>


  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <mat-form-field>
  <mat-label>Email</mat-label>
  <input matInput id="email" type="text" formControlName="email">
</mat-form-field>
 <mat-form-field>
  <mat-label>Password</mat-label>
  <input matInput id="password" type="password" formControlName="password">
</mat-form-field>
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" id="datePick"  formControlName="datePick" >
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button type="submit">Submit</button>


  </form>
</section>
