<section class="new-training">
  <mat-card>
    <mat-card-title>Time to start a workout!</mat-card-title>
    <mat-card-content>
      <mat-select placeholder="Favourite Exercise">
      <mat-option value="touch-toes"> Touch Toes</mat-option>
      <mat-option value="Burpeess"> Burpeess</mat-option>
      <mat-option value="side-lungs">side-lungs</mat-option>
      </mat-select>
     </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button (click)=onStart()>Start</button>
    </mat-card-actions>
  </mat-card>
</section>
